.btn-login {
  background-color: #ff6b35;
  color: #efefd0;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-login:hover {
  background-color: #efefd0;
  color: #ff6b35;
}
div {
  background-color: #004e89;
  color: #efefd0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
h1{
  font-weight: bolder;
  font-size: 8vh;
}
nav{
  display: flex;
  flex-direction: row;
  gap: 10px;
}