<div>
    @if (idCategory()) {
        <h2>Editar Producto</h2>
    }
    @else {
        <h2>Nuevo Producto</h2>
    }
    <form (ngSubmit)="handleFormSubmission(newCategoryForm)" #newCategoryForm="ngForm">
        <div>        
            <input id="name" type="text" name="name" placeholder="Nombre de la categoría" ngModel #name="ngModel" required="true">
            @if (name.dirty && name.invalid) {
                <p class="error">El nombre es obligatorio y no puede ser una sola letra</p>
            }
        </div>               
        
        @if (idCategory()) {
            <button [disabled]="newCategoryForm.invalid || isLoading">Editar</button>
        } @else {   
            <button [disabled]="newCategoryForm.invalid || isLoading">+</button>
        }

        @if (isLoading) {
         <app-spinner></app-spinner>
        }
    </form>
</div>

